<% content_for :title, "New persona" %>

<div class="max-w-4xl mx-auto">
  <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  

    <%= render "form", persona: @persona %>

    
  </div>
</div>