<div id="<%= dom_id articulo %>">
  <p>
    <strong>Fecha ingreso:</strong>
    <%= articulo.fecha_ingreso %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= articulo.modelo_id %>
  </p>

  <p>
    <strong>Persona:</strong>
    <%= articulo.persona_id %>
  </p>

</div>
